  <div class="container mt-5">
    <h1 class="my-2 text-muted text-center">Add Role</h1>
    <form [formGroup]="roleForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="userName" class="form-label">Role Name:</label>
        <input
          type="text"
          class="form-control"
          id="roleName"
          formControlName="roleName"
          placeholder="Enter your username"
        />
        <div *ngIf="getRoleName?.touched && getRoleName?.invalid" class="form-text text-danger">
            roleName is required and must be at least 3 characters long.
        </div>
      </div>

      <div *ngIf="roleError" class="form-text text-danger">{{ roleError }}</div>
      <button type="submit" class="btn btn-success">Add Role</button>
    </form>
  </div>
  