<!-- start footer -->
<div>
 
  <footer class="main-footer">
    <div class="container">
      <div class="footer-content">
        <div class="row">
          <div class="col-md-4 col-sm-12 footer-column">
            <div class="logo-widget footer-widget">
              <figure class="logo-box">
                <h3>ANNAMEL WEAR STORE</h3>
              </figure>
              <div class="text">
                <p>
                  ANAAMEL Alluringly crafted threads. Based in Egypt. Est 2024
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 offset-lg-2 footer-column">
            <div class="service-widget footer-widget">
              <div class="footer-title">Quick links</div>
              <ul class="list">
                <li><a href="#">About us</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Delivery Policy</a></li>
                <li><a href="#">Terms & Conditions</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- main-footer end -->
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 column">
          <div class="copyright">
            <a href="#">ANNAMEL WEAR STORE</a> &copy; 2024 All Right Reserved
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- end of footer -->
</div>
